.comment-section{
    margin-top: 1rem;
    //border-top: 1px solid rgb(223, 223, 223);
    padding-top: 2rem;
    margin-bottom: 4rem;
}
/* .parent-textarea{
    margin-bottom: 4rem;
} */
.text-row{
    display: flex;
}
.attention-icon{
    font-size: 1rem;
    color: rgb(255, 109, 109);
    margin-right: 0.5rem;
    
}
.user-icon{
    align-self: flex-start;
    font-size: 1.5rem;
    margin-right: 0.7rem;
    color: white;
    background-color: #4285f4;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    text-align: center;
    line-height: 40px;
}
.textarea{
    flex-grow: 1;
    border: none;
    border-bottom: 1px solid rgb(199, 197, 197);
    padding: 0.5rem;
    height: 2.1rem;
    box-sizing: border-box;
    font-family: Verdana, Tahoma, sans-serif;
    margin-bottom: 1rem;
    overflow: hidden;
}
.textarea:focus{
    outline: none;
    border-bottom: 2px solid rgb(102, 102, 102);
}
.b-m-container{
    display: flex;
    justify-content: space-between;
    margin-bottom: 3rem;
}
.comment-header{
    margin-top: 4rem;
}
.comment-header-text{
    color: rgb(100, 100, 100);
    //font-weight:bold;
    border-bottom: 3px solid #9fc3fd;
    font-size: 1.1rem;
    font-family: Verdana, Tahoma, sans-serif;
    padding: 0.35rem 0;
}
.fa-comment{
    margin-right: 0.5rem;
    color: #c9ddfd;
    font-size:x-large;
}
.comment-button{
    margin-left: 2rem;
    padding: 0.5rem 1rem;
    width:  max-content;
    font-family: "Lucida Console", "Courier New", monospace;
    color: rgb(143, 143, 143);
    background-color: whitesmoke;
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}
.message-box{
    align-self: center;
    color: rgb(124, 124, 124)
}
.username{
    font-weight: 600;
    font-size: 0.85rem;
}
.posted-when{
    margin-left: 0.5rem;
    font-size: 0.8rem;
    color:rgb(143, 143, 143);
}
.comment-text{
    font-size: 0.9rem;
}
.comment{
    font-family: Verdana, Tahoma, sans-serif;
    display: flex;
}