body {
    font-family: "Lucida Console", "Courier New", monospace;
}
div, ul {
    box-sizing: border-box;
}
.gfillText {
    display: flex;
    flex-direction: column;
    margin-top: 2.5rem;

}
.contentLayout {
    font-size: 0.9em;
    margin-bottom: 2rem;
}
.contentPlusMenu {
    display: flex;
}
.sticky{
    position: sticky;
    top: 0.5rem;
    will-change: transform;
}
.menu {
    flex: 1 0 0;
    box-shadow: 0.3rem 0 0.5rem rgb(214, 214, 214);
}
.inPageBrowsing {
    list-style-type: none;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 1rem;
    color:rgb(39, 37, 61);
    padding-left: 1.4rem;
}
.inPageBrowsing li {
    margin: 0.8rem 0 0.8rem 0;
    line-height: 1.8rem;
}
.selectedItem {
    /* border-left: 0.3rem solid rgb(255, 230, 5); */
    border-left: 0.3rem solid rgb(72, 5, 255);
    padding-left: 1rem;
    background-color: whitesmoke;
}
.inPageBrowsing a{
    text-decoration: none;
    color: inherit;
}
.brow {
    margin-right: 0.5rem;
    color: rgb(57, 57, 189);
}
%bbc {
    overflow-x: hidden;
    padding: 1rem 5rem 1rem 5rem;
    flex: 4 0 0;
}
.minusHeader {
    @extend %bbc;
}
.minusHeaderVocab{
    @extend %bbc;
    overflow-x:visible;
    margin-bottom: 3rem;
}
%contentItem {
    /* min-height: 100px;   ///////
    background-color: white;   ///////
    margin: 2px;    /////// */
    display: flex;
}
.header {
    display: flex;
    flex-direction: row-reverse;
}
.header-text {
    background-color: rgb(0, 0, 94);
    color: rgb(248, 248, 248);
    align-self: center;
    padding: 0.3em 1em;
    border-radius: 0.2em 0 0 0.2em;
    margin: 2rem 0 2rem 0;
}
.carouselContainer {
    margin: 2rem -5rem 5rem -5rem;
    height: 60vh;
}
.vocabulary {
    display: flex;
    flex-direction: column;
}
.vocabulary-items {
    display: flex;
    flex-wrap: wrap;
    align-self: center;
    justify-content: center;
    width: 48vw;
   /*  background-color: rgb(197, 197, 253);
    box-shadow: 0 0 1em rgb(165, 165, 248); */
    box-shadow: 0 0.3em 0.6em rgb(161, 161, 161);

    border-radius: 0.4em;
    position: relative;
    font-size: 1.2em;
    cursor: pointer;
    transition: 0.1s;
    font-family: "Monaco", monospace;
    margin-bottom: 2.5rem;
    color:rgb(35, 30, 80);
    font-weight: normal;
}
.vocabulary-items:hover {
    box-shadow: 0 0.5em 1em rgb(161, 161, 161);
    //background-color: rgb(198, 198, 250);
}
.vocabulary-items span {
    margin: 0.65rem;
}
.word-definitions {
    min-width: 60vw;
    background-color: white;
    position:absolute;
    top:100%;
    padding: 0px;
    //border-left: 2px solid rgb(126, 110, 214);
    overflow: hidden;
    //max-height: 0px;
    transition: 0.3s;
    box-shadow: 0 0 1em white;
    font-size: 0.9em;
    cursor: auto;
    border-radius: 0.2em;
    box-shadow: 0 0 0.6em rgb(141, 140, 140);
    font-weight: normal;
}
.word-definitions dt {
    font-size: larger;
    margin: 0.5em 0 0.1em 0;
}
.thinkVocab {
    font-family: Verdana, Tahoma, sans-serif;
    align-self: flex-start;
    border-left: 5px solid red;
    background-color: #f1f1f1;
    list-style-type: none;
    padding: 0.6rem 1.2rem;
    margin-left: 2rem;
    border-radius: 0 0.4rem 0.4rem 0;
    width: 90%;
}
.thinkVocab li {
    padding-left: 0.5rem;
    margin: 0.5rem 0 0.5rem 0;
}
%btn{
    margin-left: 2rem;
    padding: 0.5rem 1rem;
    width:  max-content;
    font-family: "Lucida Console", "Courier New", monospace;
    color: rgb(253, 253, 253);
    background-color: rgb(60, 60, 255);
    border: none;
    border-radius: 0.25rem;
    cursor: pointer;
}
.submit-button {
    @extend %btn;
}
.reset-button{
    @extend %btn;
    margin-left: 1rem;
    display: none;
    background-color: rgb(100, 100, 100);
    color: rgb(255, 255, 255);
}
.moreInfo{
    margin-left: 1rem;
}

.listening {
    @extend %contentItem;
    justify-content: center;
    flex-direction: column;
}
.listening video {
    border-radius: 0.2em;
    align-self: center;
}
.thBreak {
    width: 30%;
    border-top: 1px solid rgb(177, 164, 177);
    align-self: center;
    margin: 2em 0 2em 0;
}

.reading {
    @extend %contentItem;
    flex-direction: column;
}
.writing {
    @extend %contentItem;
}
.main-text {
    font-family: Verdana, Tahoma, sans-serif;
    width: 90%;
    border: 2px solid rgb(217, 217, 250);
    padding: 1rem;
    background-color: rgb(250, 250, 250);
    border-radius: 0.7em;
    align-self: center;
    margin-bottom: 2rem;
}
.main-text h3 {
    text-align: center;
}
.gapFillpar {
    font-family: Verdana, Tahoma, sans-serif;
    //border: 5px solid rgb(211, 169, 250);
    padding:0.7em;
    line-height: 2em;
    border-radius: 0.7em;
    width: 90%;
    align-self: flex-start;
    background-color: #f1f1f1;
    margin-bottom: 1rem;
    margin-left: 2rem;
}
.gapFill input {
    border: none;
    font-family: Verdana, Tahoma, sans-serif;
    font-size: inherit;
    text-align: center;
    outline: none;
    margin: 0 0.5em 0 0.5em;
    width: 8rem;
    border-radius: 0.2rem;
}
.gapFill input:focus {
    outline: 1px solid rgb(85, 66, 66);
}
.taskStatements {
    font-size: 1.2em;
    color:inherit;
    margin: 1rem 0 1rem 0;
    font-family: Verdana, Tahoma, sans-serif;
    border-bottom: 0.2rem solid rgb(255, 230, 5);
    width: max-content;
    display: inline-block;
}
.fa-tasks {
    margin-right: 0.7rem;
    color:rgb(136, 117, 77);
}
.readingHs{
    text-align: center;
}
.readingHs-sub{
    text-align: center;
    font-style: italic;
    font-weight: normal;
}
.brow-head {
    margin: 0.6rem;
    margin-bottom: 0.8rem;
    font-family: "Lucida Console", "Courier New", monospace;
    font-size: 0.8rem;
    color:rgba(18, 17, 27, 0.6);
    line-height: 1.5rem;
    border-bottom: 1px solid rgb(214, 214, 214);
    //font-style: oblique;
    padding-left: 0.5rem;
}
%navSkill{
    padding: 1rem;
    border-radius: 0.3rem;
    color:rgb(54, 54, 233);
    cursor:pointer;
    text-decoration: none;
}
.previousSkill {
    @extend %navSkill;
}
.nextSkill {
    @extend %navSkill;
}
.nav-disabled{
    @extend %navSkill;
    color: rgb(54, 54, 54);
    opacity: 0.4;
    cursor:default;
}
.previousSkill:hover, .nextSkill:hover{
    background-color: rgb(238, 238, 238);
}
.navSkill {
    display: flex;
    justify-content: space-between;
    margin: 3rem -1rem 0 -1rem;
    font-size: 1.05rem;
}